body{
    background: #000000;
    font-family: 'Times New Roman', Times, serif;
}

.logo{
    display: flex;
    background-color: white;
    justify-content: center;
    padding: 1%;
}

.logo img{
    width: 150px;
    height: 120px;
}

.principal{
    display: block;
    color: white;
    text-align: center;
}

.principal img{
    width: 250px;
    height: 250px;
    margin: 0 30px 30px 30px;
}

.principal img:hover{
    transform: scale(1.5);
    transition-duration: 0.2s;
}

h1{
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 30pt;
}

h2{
    margin-top: 0;
    padding-top: 0;
    font-size: 15pt;
    margin-bottom: 5px;
}

.bottom{
    margin-bottom: 70px;
}

.rodape{
    display: flex;
    flex-direction: row;
    background: white;
    justify-content: center;
    align-items: center;
    padding: 1%;
}

.center{
    display: contents;
    width: 930px;
}

.left{
    display: flex;
    margin-right: 1%;
}

.left img{
    width: 150px;
    height: 50px;
}

.right{
    display: block;
    align-items: center;
    justify-content: center;
    margin-left: 1%;
}

.right img{
    width: 25px;
    height: 25px;
}

a{
    text-decoration: none;
    color: black;
    margin-top: 0;
}

.zap:hover{
    color: green;
    text-decoration: underline;
}

.insta:hover{
    color: purple;
    text-decoration: underline;
}
